# Python Crash Course - Part 1 - Fundamentals
![Python](https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54) 

[![author](https://shields.io/badge/author-Jing%20Nghik_(TeachJing)-blueviolet?style=plastic)](https://www.youtube.com/c/teachjing)

**Requires** ![version](https://img.shields.io/badge/python-%3E%3D%203.6-blue)

# Introduction

This üìî notebook takes you through the üë®‚Äçüéì learning the basic fundamentals of Python. Its an üë©‚Äçüíª interactive self-paced  tutorial within notebook. This course will have you learning variables, data types, loops in no time. üòã

## Table of Contents
- Getting Started
- Variables
- Data Types
- Collections
- Block Indentation

![Note](https://img.shields.io/badge/Note-blue) 
Be sure to click the table of contents under Menu -> View -> TOC to easily navigate the notebook.

![Additional Resources](https://img.shields.io/badge/Additional_Learning_Resources-grey?style=for-the-badge&logo=appveyor) 
- [Microsoft Learn - Python learning modules] (https://docs.microsoft.com/en-us/learn/browse/?terms=python)
- [Python.org - The Python Standard Library] (https://docs.python.org/3/library/index.html)
- [Jupyter Notebooks Crash Course] (https://tacc.github.io/CSC2017Institute/docs/day1/jupyter.html)

# Getting Started

If you haven't already, you may want to understand how to use Jupyter notebooks and more specifically Azure Notebooks by using this guide "Getting Started with Azure ML Notebooks and Azure Sentinel"

[![docs](https://img.shields.io/badge/docs.microsoft.com_-_Getting_Started_with_Azure_notebooks-lightgrey?logo=microsoft&style=social)](https://docs.microsoft.com/en-us/azure/sentinel/notebook-get-started)
<br><br>
![Note](https://img.shields.io/badge/Please_Note-informational)
The order on when you run the each cells are important. Some cells will have a dependency on another cell in order to work.<br>
Make sure you identify if the cell requires other cells to run, otherwise you may run into errors.

## Navigation

<center><b>Keyboard Shortcuts</b></center>

| key | description
|---|---|
|üîºüîΩ|Up/Down keys will navigate cell blocks|
| `a` | Add a cell above highlighted cell |
| `b` | Add a cell below highlighted cell |
| `d` `d` | Delete a cell |
| `c` | Copy a cell into clipboard |
| `x` | Cut a cell into clipboard |
| `v` | Paste a cell below selected cell |
| `z` | Undo your boo boo|
| `Enter`| Edit a cell |
| `Escape` | Escape current cell in order to navigate|
| `Ctrl` + `Enter` | Runs current cell and stays on the current cell. | 
| `Shift` + `Enter` | Runs current cell and moves once cell down after running | 
| `m` | Convert current cell to `markdown` cell format |
| `y` | Convert current cell to `code` cell format |

Use your table contents to quickly browse to certain topics or areas of interest. 

Lets get üòéfancy by showing you how to quickly navigate a notebook. You will notice that in whatever cell your working in, it is `highlighted` indicating its your current or selected cell. 

![Try](https://img.shields.io/badge/Try_The_Following-blue)
- üó∫ Navigating - So lets press the `escape` key and navigate up and down by using our arrows üîº üîΩ
- ‚ûï Adding Cells - Now, lets hit the `a` or `b` key. This will either add a cell above/below your currently selected cell when navigating.
- ‚ùå Deleting - Highlight any cell when you are navigating and then press `d` `d`. (Make sure you aren't editing a cell `escape`)
- üìù Editing - To edit a cell, just navigate to the cell and press `enter` which puts you in edit mode.
- ‚úÇ Cutting/Pasting - Highlight a cell and press `c` or `x` to copy/cut a cell. Then navigate to where you want to paste it and press `v` which will paste the cell below your selected/currentEditing - To edit a cell, just navigate to the cell and press `enter` which puts you in edit mode.
- Undo - Oops, you made a mistake? üòì Press z to undo that boo boo üí©.

‚òù Above is a helpful reference guide. Try to get familiar with the ‚å® keyboard shortcuts to help you navigate, add, copy, paste, delete, and run cells.

![Exercise](https://img.shields.io/badge/I_challenge_you-blueviolet) 
Think you can try navigating the rest of the notebook without using your mouse üê≠ at all. <br>
Remember to navigate using your arrows üîº üîΩ and the `enter`/`escape` key to enter/exit a cell.

## üëãüèæ Hello World
In the code cell below, enter `"Hello World"` enclosed in some quotation marks. 

```python
"Hello World"
```

This simply just prints/output the `input` you provided which was enclosed double quotes `"`.

In [ ]:
"Hello Jing"

But sometimes, you may want to print multiple outputs and control/modify the output. So more often you will utilize the `print` function. <code>print("Hello World")</code>

```python
print("Hello World")
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Can you modify `Hello World` and print something else out?

In [ ]:
print("Hello World")
print("Hello Jing")

## Cell types

üìì Notebook cells can be in two different formats, markdown or code cells. 
- üìÉ Markdown - allows you to comment and document your notebook
    - [Markdown Guide](https://www.markdownguide.org/) - The Markdown Guide is a free and open-source reference guide that explains how to use Markdown to format virtually any document. 
- üë©üèæ‚Äçüíª Code Cells - code cells are the actual runnable code.


![Exercise](https://img.shields.io/badge/Exercise-blueviolet)
- Press the `escape` key to ensure you are not editing a code cell and then press either `m` or `y` to convert a cell to either format.
- How would you add a code cell `below` this cell and convert it to a markdown cell using what shortcuts you have learned, ?

## Comments
You will want to make it a habit to comment your code so you and others can otherstand what its purpose is.

Single line comments is using a `#` character and any following string after will be ignored
```python
# This is a single line comment. 
print ("Hello")
```

In [ ]:
# This is a single line comment and will be ignored
print ("Hello")

## Using Help
The python `help`üÜò function is used to display the documentation of modules, functions, classes, keywords, etc.

![syntax](https://img.shields.io/badge/Syntax-grey) 
```python
help([object])
```

![syntax](https://img.shields.io/badge/Example-grey) 
```python
help(print)
```

In [ ]:
help("print")

## Importing modules
A module is a file containing Python definitions and statements. There will be times you need to do something specific and most likely someone has already created a module you can use. 
In most cases you can save alot of time if there is a module that already exists you can leverage to help you get to your desired outcome faster üöÄ. And who doesn't like to save time ‚åö.

### üëç Make sure package is installed
If you ever want to use a module, you first must install it. The most common way is to use a native package manager like `pip` to install the module so you can `import` it. Remember you can't use what you don't have!

Most of the time to install any module, you can reference the name your trying to import.
```python
!pip install <package_name>
# Example: !pip install numpy
```

In [ ]:
!pip install numpy

![Note](https://img.shields.io/badge/Please_Note-informational)
There is also a magic `%pip` command that will ensure you install the module in the right kernel (rather than the instance of Python that launched the notebook)

Be sure its the **first** line you have on your cell block.

In [ ]:
%pip install numpy


<div style="background-color:#ffc107">
  <b><p style="color:#000000">
    Sometimes the above command might not work üò´. It could because of mismatch if versions, OS, where notebook is hosted. In that case, you will use the following command to ensure pip installs the module on the python kernel you're running Jupyter Notebooks.    
  </p></b>
</div>

```python
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install <package_name>
```

Or open a terminal üñ• session and run this command so pip will load the module in the proper python kernel.
```python
python -m pip install <package_name>
# Example: python -m pip install numpy
```

### ‚è¨ Import the modules you need

Once you confirm pip has installed the module ‚úî, those modules can now be used in the current notebook üìí.

You will import any module by using the `import` command along with the `name` of the module you want to import

Sometimes packages have different names than their importable name.  `E.g. pip install scikit-learn -> import sklearn`

```python
import datetime
print(datetime.datetime.now())
# output: 2021-10-15 17:15:45.247946
```

If you don't require the whole module library, its always best practice to specify exactly what you want to import

```python
from datetime import datetime
print(datetime.now())
# output: 2021-10-15 17:15:45.247946
```

Notice also the line is shortened because you can call directly what you imported `datetime` instead of the full module path `datetime.datetime`

In [ ]:
from datetime import datetime
print(datetime.now())

**Importing module using `as`**

![tip](https://img.shields.io/badge/Tip-blue) 
To make it easier to call modules, shorten the module name by using `as` to define an `alias`.

```python
from datetime import datetime as d
print(d.now())
```

In [ ]:
from datetime import datetime as dt
print(dt.now())

#### Restart the Kernel

If you are not able to use the module, it may require restarting the kernel. You can do that by importing `IPython` and restarting it or click on the restart icon üîÉ

![Warning](https://img.shields.io/badge/Please_Remember-important)
You will lose all cached variables when you restart the kernel.

In [ ]:
import IPython
IPython.Application.instance().kernel.do_shutdown(True) #automatically restarts kernel from cell.

# Variables

A variable is a value that can change, depending on conditions or on information passed to the program

![Note](https://img.shields.io/badge/Note-informational)
- The Python interpreter automatically picks the most suitable built-in data-type for the variable if no type is provided
- You cannot use python keywords as a variable name. You can see a list of keywords by typing `import keyword; print(keyword.kwlist)`

## Creating variables and assigning values

We first will assign ```Hello World``` to the variables ```s1,s2```. We will then print the variables by referencing it in print.
Try it below:
```python
s1 = "Hello"
s2 = "World"
print(s1,s2)
```
![Exercise](https://img.shields.io/badge/Exercise-blueviolet)
How would you print `Azure Sentinel` using what you know?

In [ ]:
s1 = "Hello"
s2 = "World"
s3 = "!"
print(s1,s2,s3)

## Assigning multiple variables
- You can assign multiple values to multiple variables in one line.
- **Note** that there must be the same number of arguments on the right and left sides of the = operator:

![Example](https://img.shields.io/badge/Example-yellowgreen)
```python
a, b, c = 1, 2, 3
print(a, b, c)
```
Exercise: Try assigning an additional variable with value to this list

In [ ]:
a, b, c = 1, 2, 3
print(a, b, c)

![Note](https://img.shields.io/badge/Note-informational) Remember pretend the `mouse üñ±` has feelings and doesn't want to be touched, Practice using your `keyboard ‚å®` **only**.

## Temporary variables

It is common to have temporary or dummy variable assignments for a cell. It is conventional to use the underscore for these type of unwanted values.

![Example](https://img.shields.io/badge/Example-yellowgreen)
```python
a, b = 1, 2   ## assigns a,b the value 1,2
_ = a+b       ## _ is temporary assignment that adds a and b together
_temp = b-a
print(a,b, "equals", _)   ## prints the output
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Exercise: change the unwanted variable `_` to the result of `b-a`

In [ ]:
a, b = 1, 2
_ = a+b 
_temp = "1" + "1"
print(a,b, "equals", _)
print("_temp equals", _temp, "since 1 has quotes around it indicating a string data type")

# Data Types

|Data Type|Description|Example|
|------|------|------|
|int|Integers, floating-point, complex numbers|1,2,3,4,5|
|bool|an expression that results in a value of either true/false.|True/False|
|str|strings of characters| "John"|
|list| mutable sequence that group various objects together | [1,True,"John"]
|dict| Dictionary | {'name':'red','age':10}|
|tuple|similar to list but they are immutable.|(123,'hello')|
|set|unordered and mutable collections of arbitrary but hashable Python objects|{"apple","banana","orange"}|

![Note](https://img.shields.io/badge/Additional_Documentation-darkgreen)
- [Documentation - python.org - Data Types] (https://docs.python.org/3/library/datatypes.html)

## String
Strings can be declared a number of ways. 

Single quotes
```python
print('This string is in single quotes')
```

Double quotes
```python
print("This string is in double quotes")
```

Triple double quotes
```python
print(
"""
This multi-line string
is in triple double quotes
""")
```

![Note](https://img.shields.io/badge/Question-grey)
Why would you want different ways of declaring a string?

In [ ]:
print('This string is in single quotes')
print("This string is in double quotes")
print("""
This multi-line string
is in triple quotes""")

**Answer**: Because this allows you to embed quotes inside a string by declaring it with another way. You cannot use the same quotes you used to declare the string because it would end the string and the output would not be what you wanted.
<br><br>

```python
## This is wrong
print(" I am a string with "quotes" ")

## This is right
print(' I am a string with "quotes" ')
print(" I am a string with 'quotes' ")
print(""" I am a string with 'two' types of "quotes" """) 
Output 
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Press `escape` if you need to and navigate ‚¨á. Press `enter` to edit the cell and try running the current cell. Can you fix it using what we learned?

In [ ]:
print(" I am getting pretty good with "Azure Notebooks" ")

### Escaping special characters
If your string has special characters or punctuation, you may have problems using it. In order to do that, you will need to use the backslash `\` key. This tells python to ignore the character that follows the backslash.
```python
print ('It\'s getting \'hot\' in here')
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Try removing the backslash and run the cell. What happens?

In [ ]:
print ('It\'s getting \'hot\' in here')

### Inserting values into a string and evaluating expressions

```python
age = 30
print(f"You are {age} years old. {1 + 1}")
```

Notice how we prefix `f` in front the string `"You are {age} years old."`. This allows us to evaluate any expression within curly braces `{ }`. In this case, we grab the value for variable `age` and insert it into the string when evaluated.

In [ ]:
age = 30
print(f"You are {age} years old. {1 + 1}")

## Numeric data

There are three types of numbers used in Python: integers, floating, and complex numbers.

```python
x = 5    # int
y = 10.024  # float
z = 5j   # complex
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Run the cell below `(shift-enter)`. Make a guess what the `type()` command does?

In [ ]:
s = "I am a string"
x = 5    # int
y = 10.024  # float
z = 5j   # complex

print ("Class", "\t\t\t", "Value")
print (type(s), "\t\t", s)
print (type(x), "\t\t", x)
print (type(y), "\t", y)
print (type(z), "\t", z)

Here are some arithmetic operations you can perform

| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |

In [ ]:
## Arithmatic Operations Examples
print(True)
print(5 + 5)
print(5 - 3)
print(10 / 2)
print(5.0 / 2)

## Boolean

<center>Comparison Operations</center>

|Operation|Description|Operation|Description|
|---|---|---|---|
|a == b|a equal to b|a != b|a not equal to b|
|a < b|a less than b|a > b|a greater than b|
|a <= b|a less than or equal to b|a >= b|a greater than or equal to b|

```python
5.0 == 5
'3' == 3
True == True
True == False
True == 1
True == 0
'üçé' == 'üçè'
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
‚ñ∂ Run the following üëáüèæ cell block and identify why each expression either resolves true or false.

In [ ]:
print("5.0 == 5,", 5.0 == 5)
print("'5' == 5,", '5' == 5)
print("True == True,", True == True)
print("True == False,", True == False)
print("not True == False,", not True == False)
print("True == 1,", True == 1)
print("True == 0,", True == 0)
print("'üçé' == 'üçè',", 'üçé' == 'üçè')

### Combining Boolean values

You can combine boolean values by using `and`,`or`, and `not`

```python
5 > 1 and "üçé" == "üçå"
```

Here `5 > 1` evaluates to true, but `"apple" == "banana` evaluates to false. This then results to false.

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Run the following cell üëáüèæ, and then see if you can make the result of both conditions evaluate to `True`.

In [ ]:
5 > 1 and "üçé" == "üçå"

## Converting Data Types

There may be situations you will need to convert a data type to another in order for the script to work. 
```python

int_to_float = float(10)         ## Convert integer to floating number
str_to_float = float("200.1243") ## Convert string to floating number

print (int_to_float)
print (str_to_float)
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Can you try converting a number/string with a decimal to an integer? What happens?

In [ ]:
str_to_float = float("200.1243")
print (str_to_float)

Here are some more data types to practice with

In [ ]:
## Converting Data Types
x = (5/2)
print("Type:", type(x), ", Output", (x))

## Convert to string
x = str(5/2)
print("Type:", type(x), ", Output", (x))

## Convert to int 
x = int(5/2)
print("Type:", type(x), ", Output", (x))

## Convert from int to bool
x = bool(0)
print("Type:", type(x), ", Output", (x))

# Collections

<center><b>There are four collection data types in Python</b></center><br>

|Name|sort|indexed|mutable|duplicates|
|---|---|---|---|---|
|List|‚úÖ ordered|‚úÖ indexed|‚úÖchangeable|‚úÖAllows duplicate members
|Tuple|‚úÖ ordered|‚úÖ indexed|‚ùåunchangeable|‚úÖAllows duplicate members
|Set|‚ùå unordered|‚ùåUnindexed|‚úÖchangeable|‚ùåNo duplicate members
|Dictionary|‚úÖ ordered|‚úÖ indexed|‚úÖchangeable|‚úÖNo duplicate keys, but duplicate values are ok

There will be situations where a certain collection type makes more sense than another. Example is you want a set of distinct items with no duplicates `set`. Or you want a collection that you can grab the `age` or `name` of a person in a collection `dictionary`.

## List
|Name|description|sort|indexed|mutable|duplicates|
|---|---|---|---|---|---|
|List|ordered sequence of values|‚úÖ ordered|‚úÖ indexed|‚úÖchangeable|‚úÖAllows duplicate members

![Exercise](https://img.shields.io/badge/Please_Note-blue) 
- A list is a sequence, where each element is assigned a position (index)
- First position is 0. You can access each position using 

Allright, first lets create a list

![Exercise](https://img.shields.io/badge/Syntax-grey) 
```python
list_name = ['value1','value2','value3','value4','value5']
```

Notice how a list is enclosed in square brackets `[ ]`.

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Run the cell below to create a list, which also will be referenced in the following cells. Any variables created in the session, could be referenced later as long as the kernel was not restarted.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list

### Access items from list
You can access items in a list with the same `[ ]` square brackets, but inside you put the index location of what items you want returned.


Lets print the third item in the list
- Note: The very first position in a list is `0`, so the third item in the list is pulled by referencing `2`

```python
print(myList[2])
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
üèÉüèæ‚Äç‚ôÄÔ∏è Run the following cell, but how would you print the last item on the list?

In [ ]:
print(my_list[2])

You are ‚úî correct if you answered:
```python
print(my_list[9])
# 10
```

But you can also print the last item on the list by using a `-1`
```python
print(my_list[-1])
# 10
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Using what you know, how would you get the 2nd from the last item on the list

In [ ]:
print(my_list[-1])

![Answer](https://img.shields.io/badge/Answer-darkgreen) 
You would reference the index `-2` since any negative value starts from the right. `print(my_list[-2])`

### Adding item to the list

You can add item to the list using the `append()` method.

In [ ]:
my_list.append(1000); 
print(my_list)

### Modify a list

You may want to modify values in a list
```python
myList[2] = 5000    #changed the 3rd item in list from 3 to 'changed'
```

In [ ]:
my_list[2] = 5000
print(my_list)

### Removing item from list

```python
del(my_list[1])         ## deletes the 2nd item (1) in the list since we start with 0 first which is the number 2
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Remove the first two items on the list using a range `[<start>:<finish>]`

In [ ]:
del(my_list[1]) 
print(my_list)

### Merging Lists together

![Exercise](https://img.shields.io/badge/Note-blue) 
- When you want to merge two lists together, you can simply use `+`
- Note: There are still duplicates when lists are merged.

Lets create list x,y and another variable `myList` that is a combination of both.
```python
new_list = [20, 21, 22, 23, 24];
my_list = my_list + new_list
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Can you add more items to the list or even make another list and merge all 3 together using what we learned?

In [ ]:
# Concatenation
new_list = [20, 21, 22, 23, 24];
my_list = my_list + new_list
print(my_list)

### Slicing and Dicing a list
There may be situations where you don't want the first item in a list or only want the first 5. You will need to reference the `range` you want after the list variable.

![syntax](https://img.shields.io/badge/syntax-grey) 
```python
my_list[<start_here>:<end_here>]
```

Lets slice (extract) the first and second item in the list
```python
print(my_listt[0:2])  ## 0 identifies where to start (value is grabbed). The 2 indicates the location you want to stop. (the value at the end location isn't pulled).
```

In [ ]:
print("Full list:", my_list)
print("Spliced List:", my_list[0:2])  ## Slice the first and second item in the list

### Checking if list contains a value

You can check if a list contains a item by using `in`

![Exercise](https://img.shields.io/badge/syntax-grey) 
```python
'search_word' in list
```
<br>

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 

1. Modify the line and search for the number `10` in the list.
2. How would you an `and` conditional to check for two values

In [ ]:
1 in my_list

### Counting

Count how many items in a list by using `len(<list>)`
```python
len(my_list)
```

Count how many times an item is in the list `list_name.count("<what_to_search_for>")`
```python
my_list.count(5)
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
 Count how many times the number 5 shows up in the list.

In [ ]:
how_many_items = len(my_list)       ## Gets item count and assigns it to `how_many_items` variable
how_many_times = my_list.count(1)   ## Counts how many times `1` shows up in `myList`

print(my_list)
print("The list has", how_many_items, "items.")
print("The number 1 shows up", how_many_times, "times.")

### Getting the highest value in a list
To get the highest number in the list you will use the `max()` function. You cannot calculate max if the values are not all numeric.

In [ ]:
#Get the highest numeric year in the list
print(my_list)
print( max(my_list) )

### Lists can have various data types

Elements in the lists can be different data types, but be careful of performing any calculation with mixed data types.
```python
    mylist = ['string1', 1, "string2", True]
```

In [ ]:
multitype_list = ['string1', 1, "string2", True]
print(multitype_list)

## Sets
|Name|sort|indexed|mutable|duplicates|
|---|---|---|---|---|
|Set|‚ùå unordered|‚ùåUnindexed|‚úÖchangeable|‚ùåNo duplicate members

Sets are similar to list but is an unordered collection data type that is iterable, mutable and has no duplicate elements. 
- Unordered and sets cannot change once the set has been created.

Lets create a set from the list and notice duplicates are removed
```python
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
#> {'orange', 'banana', 'pear', 'apple'}
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Modify the line and add another fruit to the basket.

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

### Create set from string
```python
a = set('abracadabra')  ## Notice duplicates are removed.
#> {'a', 'r', 'b', 'c', 'd'}
```

Run the following cell and do you understand whats happening ? Why is the list shorter ü§î?

In [ ]:
a = set('abracadabra')
print(a) 

fruits = set( {'üçé','üçè','üçè','üçä','üçå','üçè','üåÆ','üçâ','üçå'} )
print(b)

### Add item to set
```python
a.add('z')
#> {'a', 'c', 'r', 'b', 'z', 'd'}
```

In [ ]:
a.add('z')
print(a)

### Making a set immutable (Cant be modified)
If you ever want to declare a list and ensure the list is not modified, you can freeze the list using `frozenset(<set_name>)`

```python
b = frozenset('asdfagsa')
#> frozenset({'f', 'g', 'd', 'a', 's'})
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Notice we add `Dallas` to the set `cities`. Uncomment `#` the commented line `#frozen_cities.add("Tampa")` and run the cell again. What happens?

In [ ]:
## Create a cities set and adds Dallas to the set
cities = {"Houston", "New York","San Diego"}
cities.add("Dallas")
print(cities)

frozen_cities = frozenset(cities)
#frozen_cities.add("Tampa")
print(frozen_cities)

### Dictionary
|Name|sort|indexed|mutable|duplicates|
|---|---|---|---|---|
|Dictionary|‚ùå unordered|‚úÖ indexed|‚úÖchangeable|‚úÖNo duplicate members

Dictionary consists of key-value pairs `{<key> : <value>}`. It is enclosed by curly braces {} and values can be assigned and accessed
using square brackets `[]`.

### Create a dictionary

Lets create a dictionary object with a name and age key
```python
person={
    'name' : 'bob',
    'gender' : 'male',
    'age' : 30
}
```

In [ ]:
person={
    'name' : 'bob',
    'gender' : 'male',
    'age' : 30
}
print(person)

### Getting a property

Lets grab the `age` property from this dictionary object by reference the right `key` which in this case its the string `"age"` enclosed in double quotes .
```python
print(person['age'])
```

In [ ]:
print(person['age'])

## Get list of keys/values

To get the list of keys or values only, you would specify the method 

Get list of keys
```python
print( person.keys() )
# output: dict_keys(['name', 'gender', 'age'])
```

Get list of values
```python
print( person.values() )
# output: dict_values(['bob', 'male', 30])
```

In [ ]:
print(person.keys())
print(person.values())

## Adding to dictionary

To add to the list, you simply just reference an unused `key name` in the dictionary object
```python
person['location'] = 'US'
# {'name': 'bob', 'gender': 'male', 'age': 30, 'location': 'US'}
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Try adding another item to the dictionary object.

In [ ]:
person['location'] = 'US'  ## This adds a location with the value US to the dictionary object
print(person)

## Tuple
|Name|sort|indexed|mutable|duplicates|
|---|---|---|---|---|
|Tuple|‚úÖ ordered|‚úÖ indexed|‚ùåunchangeable|‚úÖAllows duplicate members

Tuples are like `lists` except cannot be changed

```python
tuple = (123,'hello')
print(tuple)            #will output whole tuple. (123,'hello')
print(tuple[0])         #will output first value. (123)
```

In [ ]:
tuple = (123,'hello')
print(tuple)
print(tuple[0])
print(tuple[1])

<br>After running the previous cell, try updating the tuple by running the cell below
```python
tuple[1] = "update"
```

![Exercise](https://img.shields.io/badge/Question-ff69b4) 
What happens when you run the cell and do you know why it happened based on how `tuples` work?

In [ ]:
tuple[1] = "update"

# Block Indentation
Python uses indentation to define and control function, loops, and conditions. 
This makes Python easy to read, but the user must play close attention to the whitespace (space/tabs) usage. Always use 4 spaces for indentation and most code editors are able to convert tabs to spaces to reduce any error.

<img src="" width="300"/>


![Note](https://img.shields.io/badge/Note-blue) 
Do not mix tab and spaces. Stay consistent. Indentation Errors will occur or cause the program to do something unexpected

## Functions
A function is a block of code which only runs when it is called. This is helpful to run repeatable blocks of code you plan on using often.

![Note](https://img.shields.io/badge/Note-blue) 
- You can pass data, known as parameters, into a function.
- A function can return data as a result.

### Creating a functions
Declare the function name with 
Syntax
```python
def <function_name>()
```
Then any lines you want to belong to the function is associated by using 4 empty spaces

![Note](https://img.shields.io/badge/Example-grey) 
```python
def ping(): # Declare the function with `def <name>():`
    print("pong")
```

In [ ]:
def ping():         
    print("pong üèê")

### Call a function
Call your custom function you declared by referencing the name of the function `ping()`

In [ ]:
ping()

### Passing information to functions
Information can be passed into functions as arguments.
```python
def greeting(name):       ## we declare the parameter `name` as a variable that will be used in the nested code
    print("Hello",name)   ## we print Hello with the value of the name provided

greeting("John")          ## we call the function greeting and pass the argument `John` as the name
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
How would you pass another value to the greeting function and print it out on the response?
- Example: Print a response like, "Hello `<name>`, You are `<age>` years old"

In [ ]:
def greeting(name):
    print("Hello", name)

greeting("John")

You can also pass multiple arguments by separating each value with a comma
```python
def greeting(name, age):
    print("Hello", name, "You are", age, "years old.")

greeting("John", 30)
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Can you pass third argument and print it in the output when the function is called?

In [ ]:
def greeting(name, age):
    print("Hello", name, "You are", age, "years old.")

greeting("John", 30)

### Commenting in functions
Docstrings are not like regular comments. They are stored in the function documentation. You can then use `help()` to get some helpful guidance on the particular function

Comment your function
```python
def ping():
    """ This function replies pong. This is custom documentation you can build to describe the function """
    return "pong"

ping()
```

Get help details on function
```python
help(ping)
```

In [ ]:
def ping():
    """ This function replies pong. This is custom documentation you can build to describe the function """
    return "pong"

ping()
help(ping)

### Multi-level indentation and nesting

You can nest conditions, loops, and functions within each other. 
If a function is not indented to the same level it will not be considers as part of the parent class

```python
def separateFunction(provided_list):
    #Loops are also indented and nested conditions start a new indentation
    
    for i in provided_list:  ## loop through each item in the list
        
        if i == 1:  ## We will check each `item` in the list for the value of `1`.
            return True
    return False

separateFunction([2,3,5,6,1])
```

This will call the function `separateFunction()` and provide the list ``` [2,3,5,6,1]``` as an input argument for the function `separateFunction()`

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Try searching for another `item` in the array, or add an additional argument in `separateFunction()` to search against that argument instead of the static value `1`.

In [ ]:
def separateFunction(provided_list):
    
    ## loop through each item in
    for item in provided_list:
        
        ## We will check each `item` in the list for the value of `1`.
        if item == 1:
            return True
    return False

separateFunction([2,3,5,6,1])

Passing values into a function

### Default values in a function

You can provide default values if you want to assume certain values. Then if input `IS` provided, it overrides the static default value.

First lets create another function that has a `default value` for the greeting. We also will call `help()` function to get the documentation of the `greet()` function.

In [ ]:
def greet(name="anonymous", greeting="Hello"):
    """
        Print a greeting to the user `name` Optional parameter `greeting` can change what they're greeted with.
        Example: greet("John","Sup")
    """
    print("{} {}".format(greeting, name))

help(greet)

Lets call the function first by providing no input or arguments

```python
greet()
```

In [ ]:
greet()

This time lets call the function `greet()` but also provide the arguments `name='john'` and `greeting='sup'`

We can pass arguments based on the position in the list
```python
greet("john", "sup")
# output: sup john
```

Or we can directly specify what value is for what argument (which now doesn't need to be in the proper list position)
```python
greet(greet="sup", name="bob")
# output: sup bob
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Try passing different arguments in different positions. Or modify the function and add another argument that will be used in the response

In [ ]:
## Call the greet function and pass a name
greet(greeting="sup", name="bob")

## Conditional statements

if/else/elif Example
```python
    if conditionA:
        statementA
    elif conditionB:
        statementB
    else:
        statementD
    
    this line will always be executed (after the if/else)
```

Exercise: Run the cell below `shift-enter`, How would you modify the if statement to evaluate to false?

### Creating a conditional statement
You will nest lines that you want included in each condition evaluated

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Run the following command and see if you can make the expression evaluate false?

In [ ]:
a = 5;  ## Initializes variables a,b with values 2,4
b = 2;

#If block starts here
if a > b:               # If the value of a > b, nested indented lines will run
    print("‚úÖ", a) 
else:                   # if above if statement evaluates to false, the following nested indented lines will run.
    print("‚ùå", b)
b = 2;

### One-liner if statement (no indentation)

![Please Note](https://img.shields.io/badge/Please_Note-yellow)
Most style guides and linters (error checking) discourage using this as its not the best practice üëé. Try using lines and spaces as its easier to read for everyone else üíì

You can write the if statement to one line if there isn't a need for nesting multiple lines within the statement.

```python
a = 5;     ## initializes variables a,b with values 2,4
b = 2;

if a > b : print(True, ",", a)  ## Evaluate if a > b, If its true run this line, else run the else statement.
else: print(False, ",", b)
```

In [ ]:
a = 5;
b = 2;
if a > b : print(True, ",", a) 
else: print(False, ",", b)

### üëç Even shorter if statement for default values.

You don't have to write a whole `conditional statement` if all you want is to check if a value exist or use a `default value` if the condition evaluates to `false`

```python
a = 5
b = 3
result = "A is bigger than B" if (a>b) else "A is less than B"

print(result)
```

The value of `result` is `"A is bigger than B"` only if the expression in the following if statement evaluates to `True`, otherwise the value following `else` is used.

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Try writing another statement that maybe evaluates a string or collection.

In [ ]:
a = 5
b = 3
result = "A is bigger than B" if (a>b) else "A is less than B"

print(result)

### Using conditional statement to validate an input provided

Example of searching a `list` based on the `input` provided
![Exercise](https://img.shields.io/badge/Example-grey) 
```python
mylist = [1,2,3,4,5]

userInput = int(input("Enter a number from 1-10:"))
if userInput in mylist:
    print(userInput, "is in the list `mylist`")
```

When this cell is ran, the `userInput` variable will call the `input()` function and request input from the user. After the input is provided, the cell will take the input value and check if it it matches any item in the list `my_list`.

In [ ]:
my_list = [1,2,3,4,5]
userInput = int(input("Enter a number from 1-10:"))
if userInput in my_list:
    print(userInput, "is in the list `mylist`")

## Loops
Loops are simply computer instruction that will keep repeating until a specified condition is reached.

### For Loops
- Used for interating over a sequence (list, tuple, dictionary, set) and runs a set of statements, once for each item in the list. The loop will end when it reaches the last item on the list its iterating.

#### Simple For Loop
```python
print("== For Loops ==")
for x in range(0, 3):            ## Iterate from 0 to 3
    print("Let's go %d" % (x))   ## print `Let's go` and the populates the value of the variable `x`
```

We will loop starting at `0` and end at `3`. On each iteration, we will print the current value of `x`

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
How would you make the for loop iterate 10 times instead of 3?

In [ ]:
## For Loops
print("== For Loops ==")
for x in range(0, 3):
    print(f"Let's go {x}")

You can process any iterable (string, list, dict, etc) with a for loop
```python
my_list = [5,10,15,20,25]
for item in my_list:
    print(f"{item} * 10 = {item * 10}")
```

![Explained](https://img.shields.io/badge/Explained-blue) 

1. First we create the list of 5 values `[5,10,15,20,25]`
2. then we will use the `for` loop to iterate through each item in the list and print the string for each item.

In [ ]:
my_list = [5,10,15,20,25]
for item in my_list:
    print(f"{item} * 10 = {item * 10}")

#### Nested for Loop
```python
print("\n== Nested For Loops ==")
for x in range(0, 3):
    for y in range(0,2):
       print("Let's go %d %d" % (x,y))
```

![Exercise](https://img.shields.io/badge/Exercise-blueviolet) 
Can you nest another `condition or loop` nested inside this `for loop` and output the values?

In [ ]:
## Nested for loop
print("\n== Nested For Loops ==")
for x in range(0, 3):
    for y in range(0,2):
       print(f"Let's go {x} {y}")

#### Using For loop to iterate through array of dictionary objects

```python
states = [
    {"name" : "Alabama", "capital" : "Montgomery", "country": "United States"},
    {"name" : "Colorado", "capital" : "Denver", "country": "United States"},
    {"name" : "Texas", "capital" : "Austin", "country": "United States"},
    {"name" : "New Mexico", "capital" : "Sante Fe", "country": "United States"},
]

for state in states:
    print(f"{state['name']} is located in the {state['country']} and it's capital is {state['capital']}")
```

![Explained](https://img.shields.io/badge/Explained-blue) 

1. First we initialize a `list(array)` of dictionary objects with key value pairs `name, capital, country`
2. Then we use a `for loop` to iterate through each state and reference the `keys` within each dictionary item being iterated to retrieve the values. 

![Challenge](https://img.shields.io/badge/Challenge-blueviolet) 
Can you add another `key` to each dictionary object and print that key value when its been iterated in the `for` loop?

In [ ]:
## Sort list by key name
states = [
    {"name" : "Alabama", "capital" : "Montgomery", "country": "United States"},
    {"name" : "Colorado", "capital" : "Denver", "country": "United States"},
    {"name" : "Texas", "capital" : "Austin", "country": "United States"},
    {"name" : "New Mexico", "capital" : "Sante Fe", "country": "United States"},
]

for state in states:
    print(f"{state['name']} is located in the {state['country']} and it's capital is {state['capital']}")

#### Iterating through dictionary key/values

Let's use the same list, but iterate it a different way. Lets iterate each state and print the `key/value pair` for each item.
```python
for state in states:
    for key, value in state.items():
        print(f"State:{state['name']}, Key:{key}, value:{value}")
```

![Explained](https://img.shields.io/badge/Explained-blue) 

1. We first will iterate through each `state` in the `states` list.
2. We then grab each `key and value` from `state.items()`
3. We reference directly the `key and value` variables instead of calling `state[<key>]`

In [ ]:
for state in states:
    for key, value in state.items():
        print(f"State:{state['name']}, Key:{key}, value:{value}")

#### Using For loop to enumerate through dictionary keys

Or maybe you want the index location of each key in the list. You can enumerate the dictionary
```python
## enumerate through states
for state in states:
    for index, key in enumerate(state): ## use the enummerate function which will convert the dictionary object a list with an numeric index location you can reference.
        print(f"State:{state['name']}, index:{index}, key:{key}, value:{state[key]}")
```

![Explained](https://img.shields.io/badge/Explained-blue) 

1. We first will iterate through each `state` in the `states` list.
2. We iterate through each state then grab the `index and key` from `enumerate(state)`
3. We now can reference the index location of the `keys` and use the `key` to reference properties in the `state` variable.

In [ ]:
## enumerate through states
for state in states:
    for index, key in enumerate(state): ## use the enummerate function which will convert the dictionary object a list with an numeric index location you can reference.
        print(f"State:{state['name']}, index:{index}, key:{key}, value:{state[key]}")

### Using Loop to modify list values

You can use a loop to iterate through a list and modify values or execute lines for each item being looped.

```python
from datetime import datetime  ## Imports the datetime module needed to get current date.
years = [1955,1987,1978,2019,1967,1955]  ## defines the array of years to loop through

for year in years:
    currentDate = datetime.today().year  ## grabs the current date
    age =  currentDate - year  ## subtracts the value of x(year) from the current date
    print(f"date:{currentDate}, year:{year}, You are {age} years old." )  ## replaces all placeholders in curly braces with variable
```

![Note](https://img.shields.io/badge/Explained-blue) 
Import the datetime module and create the `years` array

1. Import the datetime module to be used in the years array.
2. `years` array is created that will used as the input to the `for` loop
2. This example will iterate through each `year` in the years list `[1955,1987,1978,2019,1967,1955] `. 
    1. Inside this loop we first will calculate the `currentDate` variable by calling the imported `datetime` function and extracting the `year`.
    2. We can then calculate the age by subtracting the `currentDate` for each `year` being looped.
    3. Then we will print a line that outputs these variables being iterated.
3. The last command to run is `printing` out the loop has completed.

In [ ]:
## This type of string formatting will require Python >= 3.6
from datetime import datetime  ## Imports the datetime module needed to get current date.

years = [1955,1987,1978,2019,1967,1955]  ## defines the array of years to loop through

## This is the loop that will iterate through each year in the years array.
print ("--For loop start--")
for year in years:
    currentDate = datetime.today().year  ## grabs the current date
    age =  currentDate - year  ## subtracts the value of x(year) from the current date
    print(f"date:{currentDate}, year:{year}, You are {age} years old." )  ## replaces all placeholders in curly braces with variable

print(years) ## This statement is printed outside of the while loop

### While Loop
Most of the time you will be using for loops. This loop will continue to execute the nested statements (indented) in the while loop until a specified condition is true

Example
```python
i = 0   # Initialization
print("While Loop starting")
while (i < 10):    # Condition
    print(f"{i} is less than 10. Looping")    # do_something
    i = i + 1 # Why do we need this?

print("While Loop has ended")  ## Last line to run. notice its not nested in the loop so it runs last.
```

![Explanation](https://img.shields.io/badge/Explained-blue) 
This `while loop` example will run the lines nested in the while loop until `i` reaches a value that is greater than `10`

In [ ]:
## While Loop

i = 0   # Initialization
print("While Loop starting")
while (i < 10):    # Condition
    print(f"{i} is less than 10. Looping")    # do_something
    i = i + 1 # Why do we need this?

print("While Loop has ended") ## Last line to run. notice its not nested in the loop so it runs last.

## Finished

You are done üéàüèÅüê±‚Äçüëì with part 1 of this Python Crash Course and you are well on your way to knowing Python.

Have some cake to celebrate üç∞. If you are still thirstyüßâ for more, you should now be able to step into the other Notebooks üìì and it may actually make sense!

Remember to check back as the 2nd part of the series will focus on building on top of this knowledge by learning how to manipulate data using:

![Pandas](https://img.shields.io/badge/pandas-%23150458.svg?style=for-the-badge&logo=pandas&logoColor=white)![NumPy](https://img.shields.io/badge/numpy-%23013243.svg?style=for-the-badge&logo=numpy&logoColor=white)

We will use this knowledge to manipulate and restructure data in order to render charts and visualize output for investigation or sending it.

Keep learning! ‚ù§